# Default ignored files
/shelf/
/workspace.xml

.calva/
.hg/
.idea/
.ionide/
.lsp/
.metals/

/target
/classes
/checkouts

profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
